<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">GIT SEARCH</a>
    </div>
  <!-- Collect the nav links, forms, and other content for toggling -->
      <ul class="nav navbar-nav navbar-right">
        <li><a routerLink='/landing' routerLinkActive='active'>My Profile</a></li>
        <li><a routerLink='/profile' routerLinkActive='active'>SEARCH</a></li>
      </ul>
  </div><!-- /.container-fluid -->
</nav>
<!-- End of Navigation -->
<router-outlet></router-outlet>
